@charset "UTF-8";

/* 
  Variável para cores:
  --fundo-principal
  --texto
  --texto-inverso
  --destaque
  --destaque-inverso
  --fundo-card
*/

:root {
  --fundo-body:  #f3f2f1;
  --texto: #222222;
  --texto-inverso: #5592ED;
  --destaque: #bebfff;
  --fundo-menu-superior: #6A55ED;
  --fundo-card: #d6f0f7;
  --fundo-calculadora: black;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--fundo-body);
}

body.escuro {
  --fundo-body:  rgb(63, 63, 63);
  --texto: white;
  --texto-inverso: rgb(31, 30, 30);
  --destaque: rgb(230, 229, 229) ;
  --fundo-menu-superior: black;
  --fundo-card: rgb(185, 182, 182);
  --fundo-calculadora: black;
}

header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--fundo-menu-superior);
    padding: 25px;
    box-shadow: 2px 2px 6px 2px rgba(0, 0, 0, 0.164);
    top: 0;
    position: sticky;
    z-index: 1;

}

#menu {
    display: flex;
    flex-basis: 100vw;    
}

nav#menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    justify-content: space-between;
    display: flex;
    width: 100%;

}

nav#menu a {
    text-decoration: none;
    font-weight: 615;
    padding: 12px 15px;
    border-radius: 5px;
    transition: background-color 0.4s, color 0.4s;

}

nav#menu a:hover {
    background-color: var(--fundo-body);
    color: var(--texto);
}

button#edit {
   font-size: 20px;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   background-color: var(--fundo-card);
   transition: background-color 0.3s, color 0.3s;
}

button#edit:hover {
    background-color: var(--fundo-body);
    color: rgba(102, 102, 102, 0.322);
    cursor: pointer;
}



.fa-calculator {
    font-size: 25px;
}

.fa-moon {
    font-size: 25px;
}

.fa-sun {
    font-size: 25px;
}

.calculadora {
    display: grid;
    /* Define 6 colunas de tamanhos iguais */
    grid-template-columns: repeat(6, 1fr); 
    gap: 10px; /* Espaço entre os botões */
    padding-left: 30%;
    background-color: var(--fundo-card);
    border-radius: 15px;
    
}

#display {
    grid-area: 1 / 1 / 2 / 7;
    background-color: var(--destaque);
    border-radius: 10px;
    font-size: 24px;
    margin-bottom: 10px;
    padding: 15px;
    margin-top: 50px;
    width: 574px;
    height: 110px;
    position: absolute;
    border: none;
    text-align: right;
    color: black;
    outline: none;
    font-size: 50px;
}

.teclado {
    display: grid;
    grid-template-rows: 1.5fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1.2fr;
    border: solid 2.5px black;
    background-color: var(--fundo-calculadora);
    box-shadow: 3px 3px 6px 3px rgba(0, 0, 0, 0.164);
    border-radius: 10px;
    color: white;
    width: 44vw;
    height: 99vh;
    margin: 50px auto;
}


.numero-9 {
    grid-area: 2 / 5 / 2 / 6;
    border-radius: 10px;
}

.numero-8 {
    grid-area: 2 / 4 / 2 / 5;
    border-radius: 10px;
}

.numero-7 {
    grid-area: 2 / 3 / 3 / 4;
    border-radius: 10px;
}

.numero-6 {
    grid-area: 3 / 5 / 3 / 6;
    border-radius: 10px;
}

.numero-5 {
    grid-area: 3 / 4 / 3 / 5;
    border-radius: 10px;
}

.numero-4 {
    grid-area: 4 / 3 / 3 / 4;
    border-radius: 10px;
}

.numero-3 {
    grid-area: 4 / 5 / 4 / 6;
    border-radius: 10px;
}

.numero-2 {
    grid-area: 4 / 4 / 5 / 5;
    border-radius: 10px;
}

.numero-1 {
    grid-area: 4 / 3 / 5 / 4;
    border-radius: 10px;
}

.numero-0 {
    grid-area: 5 / 3 / 5 / 5;
    border-radius: 10px;
}

.virgula {
    grid-area: 5 / 5 / 5 / 6;
    border-radius: 10px;
}

.adicao {
    grid-area: 5 / 6 / 5 / 7;
    border-radius: 10px;
}

.subtracao {
    grid-area: 4 / 6 / 4 / 7;
    border-radius: 10px;
}

.multiplicacao {
    grid-area: 4 / 6 / 3 / 7;
    border-radius: 10px;
}

.divisao {
    grid-area: 2 / 6 / 2 / 7;
    border-radius: 10px;
}

.AC {
    grid-area: 2 / 2 / 3 /3;
    border-radius: 10px;
}

.parenteses-esquerdo {
    grid-area: 3 / 2 / 3 / 3;
    border-radius: 10px;
}

.parenteses-direito {
    grid-area: 4 / 2 / 5 / 3;
    border-radius: 10px;
}

.porcento {
    grid-area: 5 / 2 / 5 / 3;
    border-radius: 10px;
}

.igual {
    grid-area: 6 / 1 / 7 / 7;
    border-radius: 10px;
}


.barra-lateral {
    grid-area: 2 / 1 / 6 / 2;
    background-color: var(--texto-inverso);
    border-radius: 8px;
}

#rodape {
    padding-bottom: 20px;
    background-color: var(--fundo-menu-superior);
    
}

