@charset "UTF-8";

/* 
  Variável para cores:
    --fundo-body
    --texto
    --texto-display
    --texto-teclas
    --display
    --fundo-menu-superior
    --teclas
    --tecla-Igual
    --icones
    --icones-background
    --sinais-numericos
*/

:root {
    --fundo-body: #f3f2f1;
    --texto: #222222;
    --texto-display: rgb(202, 201, 201);
    --texto-teclas: #222222;
    --display: #1e272e;
    --fundo-menu-superior: #c3fdd4;
    --teclas: rgb(226, 226, 226);
    --tecla-Igual: rgb(180, 252, 180);
    --icones: rgb(33, 37, 53);
    --icones-background: white;
    --sinais-numericos: rgb(180, 219, 180);
    
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--fundo-body);
}

body.escuro {
    --fundo-body: #121211;          
    --texto: #f5f5f0;               
    --texto-display: #e0d7c6;        
    --texto-teclas: #f5f5f0;         
    --display: #1c1c1a;              
    --fundo-menu-superior: #2b2621;  
    --teclas: #262624;               
    --tecla-Igual: #4a3f35;          
    --icones: #99620f;
    --icones-background: black;               
    --sinais-numericos: #8f7855;
}

header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--fundo-menu-superior);
    padding: 15px;
    box-shadow: 2px 2px 6px 2px rgba(0, 0, 0, 0.164);
    top: 0;
}

#menu {
    display: flex;
    flex-basis: 100vw;
}

nav#menu ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    justify-content: flex-end;
    width: 100%;
}

nav#menu a {
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: background-color 0.4s, color 0.4s, transform 0.2s;
    color: var(--texto);
}

nav#menu a:hover {
    background-color: var(--icones-background);
    color: var(--texto);
}


button.edit {
    font-size: 20px;
    height: 70px;
    width: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: var(--teclas);
    color: var(--texto-teclas);
    transition: background-color 0.3s, color 0.3s, transform 0.1s ease-out;
}


button.edit:hover {
    background-color: var(--fundo-body);
    color: rgba(102, 102, 102, 0.322);
    cursor: pointer;
}


.fa-moon {
    color: var(--icones);
    font-size: 25px;
}

.fa-sun {
    color: var(--icones);
    font-size: 25px;
}

.calculadora {
    display: grid;
    grid-template-rows: repeat(6, auto);
    grid-template-columns: repeat(4, 1fr);
    row-gap: 2vh;
    column-gap: 2vw;
    width: 90vw;
    padding-left: 20px;
    margin: 10px auto;
    padding-left: 0;
}

#display {
    width: 100%;
    background-color: var(--display);
    grid-column: 1 / 1;
    border-radius: 10px 10px;
    box-sizing: 5px;
    padding: 20px 15px;
    margin-top: 5px;
    font-size: 50px;
    color: var(--texto-display);
    text-align: right;
    box-sizing: border-box;
    margin: 0;
    border: none;
    grid-column: 1 / 5;
    margin-bottom: 5px;
}

#teclado {
    display: contents;
    display: contents;
    width: 70vw;
    border: none !important; 
    outline: none !important;
    box-shadow: none !important;
}

.escuro .edit{
    border-radius: 5px;
    border: 1px solid rgba(143, 120, 85, 0.3);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
}

.escuro .edit:active {
    box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.5); 
    transform: translateY(2px); 
    border-top: 1px solid transparent; 
}

.escuro .sinais-numericos {
   background-color: var(--sinais-numericos);
}

.escuro .operacao {
  background-color: var(--tecla-Igual);
}

.numero-9 {
    grid-area: 3 / 3;
    border-radius: 10px;
}

.numero-8 {
    grid-area: 3 / 2;
    border-radius: 10px;
}

.numero-7 {
    grid-area: 3 / 1;
    border-radius: 10px;
}

.numero-6 {
    grid-area: 4 / 3;
    border-radius: 10px;
}

.numero-5 {
    grid-area: 4 / 2;
    border-radius: 10px;
}

.numero-4 {
    grid-area: 4 / 1;
    border-radius: 10px;
}
.numero-3 {
    grid-area: 5 / 3;
    border-radius: 10px;
}
.numero-2 {
    grid-area: 5 / 2;
    border-radius: 10px;
}
.numero-1 {
    grid-area: 5 / 1;
    border-radius: 10px;
}

.numero-0 {
    grid-area: 6 / 2 / 6 / 4;
    border-radius: 10px;
}

.virgula {
    grid-area: 6 / 4;
    border-radius: 10px;
}

.adicao {
    grid-area: 4 / 4;
    border-radius: 10px;
}

.subtracao {
    grid-area: 3 / 4;
    border-radius: 10px;
}

.multiplicacao {
    grid-area: 2 / 4;
    border-radius: 10px;
}

.divisao {
    grid-area: 2 / 4;
    border-radius: 10px;
}

.AC {
    grid-area: 2 / 2;
    border-radius: 10px;

}

.parenteses-esquerdo {
    grid-area: 6 / 1;
    border-radius: 10px;
}

.parenteses-direito {
    grid-area: 5 / 4;
    border-radius: 10px;
}

.porcento {
    grid-area: 2 / 3;
    border-radius: 10px;
}

.igual {
    grid-area: 7 / 1 / 7 / 5  ;
    border-radius: 10px;
}

.backspace {
    grid-area: 2/ 1;
    font-size: 25px;
    border-radius: 10px;
}

#rodape {
    padding-bottom: 30px;
    background-color: var(--fundo-menu-superior);
    margin-top: 60px;
}

@media screen and (min-width: 768px) {
    body {
    margin: 0;
    padding: 0;
    background-color: var(--fundo-body);
    overflow-x: hidden;
}
    header {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        background-color: var(--fundo-menu-superior);
        padding: 25px;
        box-shadow: 2px 2px 6px 2px rgba(0, 0, 0, 0.164);
        top: 0;
        z-index: 1;
        position: sticky;
    }

    .calculadora {
        display: grid;
        grid-template-rows: repeat(5, 100px);
        grid-template-columns: repeat(6, 100px);
        gap: 5px;
        width: 90%;
        padding-left: 380px;
        margin-top: 13px;
    }

    #display {
        width: 100%;
        background-color: var(--display);
        border-radius: 10px 10px;
        padding: 30px 20px;
        font-size: 50px;
        text-align: right;
        margin-bottom: 5px;
        box-sizing: border-box;
        border: none;
        grid-area: 1 / 1 / 2 / 7;
    }

    #teclado {
    display: grid;
    grid-template-rows: repeat(5, 90px);
    grid-template-columns: repeat(6, 99px);
    grid-area: 2 / 1 / 7 / 7;
    width: 86vw;
    column-gap: 6px;
    row-gap: 6px;
    border: none !important; 
    outline: none !important;
    box-shadow: none !important;
}

    .edit {
        width: 100%;
        height: 80px;
    }

    #rodape {
    padding-bottom: 30px;
    background-color: var(--fundo-menu-superior);
    margin-top: 10px;
}

}
    

